<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    </main>
    
    <header>
      <h1>About Me</h1>
  </header>
  <section>
      <h2>Kabir Rooprai</h2>
      <table>
        <tr>
          <td>
            <p>My name is Kabir. I am 20 years old and currently studying AI in Centennial College. Other than coding I like watching anime, gaming, skateboarding and cycling.
              I love petting animals, taking pictures of the beatiful sky and just enjoying the little things in life! 
            </p>
          </td>
          <td>
            <img src="/img/Me.jpg" alt="Me" width="200px" height="250px">
          </td>
        </tr>
      </table>
      <a href="/Public/Content/Resume.pdf" download>Download Resume (PDF)</a>
  </section>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   