<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h2 class="display-4">Welcome to <%= title %> page<br>
    Discover some of my artworks...</h2>
    </div>
    </main>

    <table cellspacing="2px" cellpadding="10px">
      <tr>
        <td>
          A refrenced digital drawing of Shinohara from the anime movie '5 Centimetres per Second'.
          Software used for it was Medibang Paint Pro and hardware used was a Wacom One pentab.
        </td>
        <td>
          <img src="/img/Shinohara.png" alt="Shinohara" width="240px" height="350px">
        </td>
      </tr>
      <tr>
        <td>
          A refrenced traditonal drawing of Sora and Shiro from the anime 'No Game No Life' as well as Riku and Schuwi from the anime
          movie 'No Game No Life: Zero'. Materials used were colour pencils and soft pastels on a regular 
          A3 size drawing file.
        </td>
        <td>
          <img src="/img/NGNLZ.jpg" alt="No Game No Life" width="380px" height="300px">
        </td>
      </tr>
      <tr>
        <td>
          An original anime-style fanart of the character Parzival from the movie 'Ready Player One'.
          Software used for it was Medibang Paint Pro and hardware used was Wacom One pentab.
        </td>
        <td>
          <img src="/img/Parzival.png" alt="Parzival" height="300px" width="250px">
        </td>
      </tr>
      <tr>
        <td>
          An original crossover artwork between my original character Nephalem and Hyakkimaru from the anime Dororo. Materials used were
          DOMS colour pencils on a regular A4 size printer sheet.
        </td>
        <td>
          <img src="/img/NVH.jpg" alt="Nephalem vs Hyakkimaru" width="450px" height="300px">
        </td>
      </tr>
    </table>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   